

:root {
    /* ===== Colors ===== */
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #4e86bd;
    --primary-color-active: #36608a;
    --text-color: #ccc;

    /* ====== Transition ====== */
    --tran-03: all 0.3s ease;
}


body,html {
    min-height: 100vh;
}
.body {
    color: white;
    position: relative;
    display: flex;
}

.content {
    position: relative;
    padding-bottom: 50px;
    flex: 1;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.background1 {
    background-color: #18191a !important;
}

.background2 {
    background-color: #242526;
}

.whiteColor {
    color: white !important;
}

.greyColor {
    color: rgb(158, 158, 158) !important;
}
.redColor {
    color: red;
    height: 1rem;
}

.full {
    width: 100% !important;
    height: 100% !important;
}

.new-btn {
    min-width: fit-content;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.toast-position {
    top: 83px;
    right: 2%;
}

.toast-tran {
    transition: var(--tran-03);
}



/* ===== Forms CSS ===== */

.form {
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.suggest-bing {
    width: calc(100% - 1rem);
    padding: 0 !important;
    padding-left: 1rem !important;
    padding-top: 0.5rem !important;
}

.input {
    color: rgb(108, 114, 147) !important;
}

.input-label{
    background-color: transparent !important;
    color: white !important;
}

.input-label::after{
    background-color: transparent !important;
    color: white !important;
}

.search-container {
    position: relative;
    height: 35px;
    width: 75%;
}

.search-input {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    box-sizing: border-box;
    color: white;
    box-shadow: 0 2px 5px 1px rgba(222, 222, 222, 0.301);
    border-radius: 24px;
    border: none;
}

.search-input:hover {
    box-shadow: 0 1px 6px rgba(255, 255, 255, 0.385);
    border-color: rgb(255, 255, 255);
}

.search-icon {
    height: 25px;
    position: absolute;
    top: 5px;
    left: 4px;
    color: white;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

textarea {
    height: 8rem !important;
}

/* ===== Sidebar ===== */

.sidebar * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar {
    width: 250px;
    padding: 10px 14px;
    margin: 0;
    top: 67px;
    left: 0;
    background: var(--sidebar-color);
    transition: var(--tran-03);
    z-index: 900;
}
.sidebar.close {
    width: 95px;
}

/* ===== Reusable code - Here ===== */
.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text {
    opacity: 0;
}
/* =========================== */

.sidebar header {
    position: relative;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}
.sidebar header .logo-text {
    display: flex;
    flex-direction: column;
}
.sidebar header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
}

.sidebar header .image-text .profession {
    font-size: 14px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-03);
}

#toggle-btn-nav {
    display: flex;
}

.toggle-header-container {
    display: none;
}

.toggle-header {
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-03);
    margin-top: auto;
    margin-bottom: auto;
    padding: 15px;
}

.sidebar.close .toggle {
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
    margin-top: 40px;
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}


/*Hover for links in sidebar*/
.sidebar li a:hover {
    background-color: var(--primary-color);
}


/* Hover for icons and text */
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}


.sidebar .menu-bar {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar {
    display: none;
}
.menu-bar .sidebar {
    border-radius: 6px;
    background-color: var(--primary-color);
    position: relative;
    transition: var(--tran-03);
}

.bottom-content .menu-bar{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.sidebar.close ~ .main {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}


/* ===== Footer ===== */

footer{
    background: var(--sidebar-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    position: absolute;
    left: 0;
}

footer a{
    color: #dedcdc;
    display: inline-block;
    padding: 12px 11px;
    text-decoration: none;

}
footer a:hover{
    text-decoration: underline;
    color: var(--primary-color);
}
.linkSectionLeft{
    display: flex;
    flex-direction: row;
    justify-content: start;
    /*padding-left: 10px;*/
    flex: 1;
}
.linkSectionRight {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: end;
}

/* ===== Header ===== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sidebar-color);
    padding-left: 4rem;
}

.Anonymous-text {
    text-shadow: 2px 2px 5px #4e86bd;
    font-style: oblique;
    font-size: 24px;
    margin-right: 10px;
    margin-top: 10px;
}

.right-side {
    display: flex;
    align-items: center;
    width: 50%;
}

.header-logo {
    display: flex;
}

.AnonymousIMG {
    width: 50px;
    height: 50px; 
}

#searchInput {
    background-color: #000;
    color: #888;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* ===== Posts ===== */

.btn-icon {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 50%;
    padding: 0 0.3rem;
    transition: var(--tran-03);
}

.btn-icon:hover {
    color: var(--primary-color);
    background-color: rgba(190, 189, 189, 0.339);
}

.drop-position {
    right: 0;

}

.btn-icon:hover ~ .dropdown-menu {
    display: block;
}

.dropdown-menu:hover {
    display: block;
}

.delete {
    color: red;
    cursor: pointer;
}

.delete:hover {
    color: #ff0000;
}

.post {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.post-info {
    display: flex;
    flex-direction: column;
    width: fit-content;
    flex: 1;
    font-family: 'Garamond', 'Arial Narrow', Arial, sans-serif;
}

.post-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.post-container {
    width: 100%;
    height: fit-content;
    padding: 1rem;
}

.post-icon {
    width: 3rem;
    height: 3rem;
    padding: 0;
}

.post-main-content {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    font-weight: 500;
}

.post-media {
    width: 100%;
    height: fit-content;
    padding: 1rem;
}

.post-canvas {
    width: 100%;
}

.profile-grid {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.post-btns {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.post-btn {
    flex: 1;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.post-btn:hover {
    background-color: var(--primary-color-active) !important;
}

.post-btn:active {
    background-color: var(--primary-color) !important;
    border: none !important;
}

.post-btn:disabled {
    background-color: #e6e6e67b !important;
    border: none !important;
}

.post-reactions {
    display: flex;
    justify-content: space-between;
    padding: 1px;
}

.post-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
}


/* ===== Media Queries ===== */

@media only screen and (max-width: 1024px)  {
    .sidebar {
        position: absolute;
    }
    .sidebar.close {
        left: -95px;
    }
    nav {
        min-height: calc(100vh - 67px);
    }
    #toggle-btn-nav {
        display: none;
    }
    .sidebar .menu-bar {
        min-height: calc(100vh - 130px);
    }
    .toggle-header-container {
        display: block;
    }
    .toggle-header {
        display: flex !important;
    }
    .right-side {
        width: 100%;
        justify-content: space-around;
    }
    .header {
        padding-left: 0;
    }
}

@media only screen and (max-width: 900px)  {
    .col-900 {
        flex-direction: column !important;
    }
    .mb-3-900 {
        margin-bottom: 10px !important;
    }
    .box {
        width: 100%;
    }
}

@media only screen and (max-width: 500px)  {
    .search-bar {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .search-container {
        width: 100%;
    }
    .new-btn {
        width: 100%;
    }
}