footer{
    background: #242526;
    font-size: 17px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer h4{
    color: rgb(25, 28, 36);
    font-size: 15px;
    line-height: 40px;
    font-weight: 400;
    padding-left: 29px;
    border: 1px solid #eee;
}
footer a{
    color: #ccc;
    display: inline-block;
    padding: 12px 11px;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: #0a58ca;
}
.linkSectionLeft{
    padding-left: 18px;
    flex: 1;
}
.linkSectionRight {

    padding-left: 65%;
    position: absolute;
}