<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
    <link rel="stylesheet" type="text/css" href="Footer.css">
</head>
<body>
<footer>
    <div class="links">
        <span class="linkSectionLeft">
            <a href="#">About</a>
            <a href="#">Help Center</a>
            <a href="#">Term of Service</a>
        </span>
        <span class="linkSectionRight">
            <a href="#">Privacy Policy</a>
            <a href="#">Cooksie Policy</a>
            <a href="#">Setting</a>
        </span>
    </div>
</footer>
</body>
</html>