
:root {
    --body: #000;
    --article: rgb(25, 28, 36);
}

html,
body {
    background-color: #0000;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.background1 {
    background-color: #000 !important;
}

.background2 {
    background-color: rgb(25, 28, 36);
}

.whiteColor {
    color: white !important;
}

.greyColor {
    color: rgb(158, 158, 158) !important;
}
.redColor {
    color: red;
}

.input {
    color: rgb(108, 114, 147) !important;
}

.input-label{
    background-color: transparent !important;
    color: white !important;
}

.input-label::after{
    background-color: transparent !important;
    color: white !important;
}

.sub-text {
    display: flex;
    justify-content: start;
}

.form {
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 900px)  {
    .col-900 {
        flex-direction: column !important;
    }
    .mb-3-900 {
        margin-bottom: 10px !important;
    }
    .box {
        width: 100%;
    }
}