
:root {
    --body: #000;
    --article: rgb(25, 28, 36);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.sub-text {
    display: flex;
    justify-content: start;
}

.form {
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 900px)  {
    .col-900 {
        flex-direction: column !important;
    }
    .mb-3-900 {
        margin-bottom: 10px !important;
    }
    .box {
        width: 100%;
    }
}